@{
    ViewBag.Title = "Home";
}

<h1>Database information to XLSX file</h1>

<div class="row">
    <form class="form-horizontal" role="form">        
        <a class="btn btn-info" href="@Url.Action("DownloadCSV", "Home")">Download File</a>
    </form>
</div>